

/* Estilos de la sección del foro */
.foro {
    background-color: #240e5f; /* Color de fondo del foro */
    padding: 40px 20px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px; /* Margen externo */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilo del título del foro */
.foro h1 {
    font-size: 32px; /* Tamaño del título */
    color: white; /* Color del título */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilo de los párrafos dentro del foro */
.foro p {
    font-size: 16px; /* Tamaño del texto */
    color: #c2c2f0; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    background-color: rgba(38, 38, 70, 0.8); /* Fondo semi-transparente */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilo de los encabezados dentro del foro */
.foro h2 {
    font-size: 24px; /* Tamaño del subtítulo */
    color: white; /* Color del subtítulo */
    margin-top: 20px; /* Margen superior */
}

/* Estilo de las listas dentro del foro */
.foro ul {
    list-style-type: disc; /* Tipo de lista */
    margin-left: 20px; /* Margen izquierdo */
}

.enlaces {
        color: #5ce1e6;
}

.next-btn {
    background-color: #5ce1e6; /* Color de fondo */
    color: #1a094a; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave */
    display: inline-block; /* Para que el padding funcione */
}

.next-btn:hover {
    background-color: #4fc0cc; /* Color de fondo al pasar el mouse */
}

