
.logo-img {
    width: 103px; /* Ajusta el tamaño como desees */
    height: auto; /* Mantiene la proporción */
}

/* Sección "Nosotros" */
.about {
    padding: 60px 20px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
}
