

.user-details {
    margin-left: 15px; /* Espacio a la izquierda del nombre de usuario */
}

.user-info {
    display: flex; /* Alinea imagen y nombre en una fila */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Espacio superior */
}

/* Estilos de la sección de perfil */
.hero {
    background-color: #1a094a;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #1a094a, #3b237e);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    text-align: center; /* Centra el contenido */
}

.hero-content {
    width: 100%; /* Cambiado a 100% para un mejor control */
}

.hero h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-image {
    max-width: 50%; /* Ajustar según necesidad */
}

.hero-image img {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 80px; /* Mantiene la relación de aspecto */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin: 20px auto; /* Espaciado superior e inferior */
}

/* Estilos de detalles del perfil */
.profile-details {
    background-color: #3b237e;
    padding: 30px; /* Aumenta el espaciado para más comodidad */
    border-radius: 15px;
    max-width: 600px;
    margin: 20px auto;
}

.profile-title {
    margin-bottom: 20px;
    text-align: center; /* Centra el título */
}

.profile-title h1 {
    margin: 0; /* Elimina el margen para una mejor alineación */
    font-size: 1.8em; /* Ajusta el tamaño del título */
}

.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detail-item label {
    font-weight: bold;
}

.detail-item input {
    background-color: #1a094a;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 60%;
}

/* Estilos de las opciones del perfil */
.profile-options {
    text-align: center;
    margin: 20px auto;
}

.cta-btn {
    background-color: white;
    color: #1a094a;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.cta-btn:hover {
    background-color: #e6e6e6;
    transform: scale(1.1);
}